
/* Body and Background */

body {
  background-color: #191919;
}

html,
body,
#main-container {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/* Center Container */

#video-container {
  background-color: #191919;
  border: 3px solid #999;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
  left: 50%;
  margin-left: -13%;
  margin-top: -13%;
  opacity: 1;
  padding: 0;
  position: absolute;
  top: 50%;
  vertical-align: middle;
  width: 26%;
  z-index: 2;
}

/* Search Bar */

#search-bar {
  background-color: #d98538;
  height: 50px;
  width: 100%;
}

#search-form {
  height: 100%;
  width: 100%;
}

input {
  border: 3px solid #999;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  opacity: .45;
  text-align: center;
}

#search-text {
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: 24px;
  margin : 0 auto;
  position: relative;
}

/* Circles */

.circle {
  background:url(http://placehold.it/320x180) no-repeat;
  background-position: center, center;
  border: 2px solid #999;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 1);
  opacity: .3;
  position: absolute;
  width: 10%;
  z-index: 1;
}

.circle:hover {
  opacity: 1;
}

#circles-container {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/* Footer */

#copyright {
  bottom: 5px;
  color: #888;
  font-family: 'Verdana';
  font-size: 10px;
  opacity: .2;
  position: absolute;
  right: 15px;
  text-align: right;
  width: 100%;
}
